attrs==24.2.0
branca==0.7.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
fiona==1.9.6
folium==0.17.0
geopandas==0.14.4
idna==3.8
Jinja2==3.1.4
MarkupSafe==2.1.5
networkx==3.3
numpy==1.26.4
osmnx==1.9.4
packaging==24.1
pandas==2.2.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
shapely==2.0.6
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
xyzservices==2024.6.0
